<h1>
{% if is_month() %}
    {{ date(moment([page.year, page.month - 1]), theme.archives.format) | e }}
{% elif is_year() %}
    {{ __("archive", page.year) | e }}
{% endif %}
</h1>

{{ partial("partials/titles") }}
