{{ lunr_search({resultsSelector: "ul.titles", text: __("search")}) }}

{% if theme.motto %}
    <blockquote>
        <p>{{ theme.motto.quote | e }}
        {% if theme.motto.author or theme.motto.title %}
            <footer
                >{% if theme.motto.author -%}
                    <strong>{{ theme.motto.author | e }}</strong
                >{% endif -%}
                {% if theme.motto.title -%}
                    <cite>{{ theme.motto.title | e }}</cite
                >{% endif -%}
            </footer>
        {% endif %}
    </blockquote>
{% endif %}

{{ partial("partials/titles") }}
