<!doctype html>
<html lang="{{ config.language | e }}">
<!--
 - Copyright 2020, Joachim Kuebart <joachim.kuebart@gmail.com>
 - See https://gitlab.com/jkuebart/hexo-theme-sleek/raw/master/LICENCE
-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if page.title %}
        {% set title = page.title %}
    {% elif is_category() %}
        {% set title = __("category", page.category) %}
    {% elif is_month() %}
        {% set title = date(moment([page.year, page.month - 1]), theme.archives.format) %}
    {% elif is_tag() %}
        {% set title = __("tag", page.tag) %}
    {% elif is_year() %}
        {% set title = __("archive", page.year) %}
    {% endif %}
    <title>
        {% if title %}
            {{ title | e }} |
        {% endif %}
        {{ config.title | e }}
    </title>

    {{ css("css/main") }}

    {% if config.highlight.enable %}
        {# If the default highlighter is enabled, include its style. #}
        {{ css("css/highlight.css") }}
    {% endif %}
</head>

<body>
    <header>
        <h1>{{ link_to("", config.title) }}</h1>
        {{ list_posts(site.pages, {order: 1, orderby: "title"}) }}
    </header>

    <main>
        {{ body }}
    </main>

    <footer>
        © {{ theme.copyright.year | e }}
        {% if theme.copyright.email %}
            {{ mail_to(theme.copyright.email, config.author) }}
        {% else %}
            {{ config.author | e }}
        {% endif %}
    </footer>
</body>
