<header>
    <h1>{{ page.title | e }}</h1>
    <p>
    {{ partial("partials/date", {value: page.date}) }}
    {% if page.modified_time %}
        — {{ __("modified") | e }}
        {{ partial("partials/date", {value: page.modified_time}) }}
    {% endif %}
</header>

{{ page.content }}

<footer>
    {{ list_tags(page.tags, theme.tags) }}

    <nav>
        <span>
            {% if page.next %}
                ← {{ link_to(page.next.path, page.next.title) }}
            {% endif %}
        </span>
        <span>
            {% if page.prev %}
                {{ link_to(page.prev.path, page.prev.title) }} →
            {% endif %}
        </span>
    </nav>
</footer>
