/*
 * Copyright 2020, Joachim Kuebart <joachim.kuebart@gmail.com>
 * See https://gitlab.com/jkuebart/hexo-theme-sleek/raw/master/LICENCE
 */

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 1.5;
}

body {
    box-shadow: hsl(0, 0%, 0%, 10%) 0ex 0ex 2ex;
    max-width: 48em;
    margin: 0 auto;
    padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
}

a {
    text-decoration: inherit;
}

code,
kbd,
samp,
pre {
    font-family: monospace, monospace;
}

pre {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 90%);
}

figure.highlight,
pre {
    margin-left: -1em;
    margin-right: -1em;
    overflow-x: auto;
}

/* Reset everything for the default highlighter. */
figure.highlight pre {
    background-color: initial;
    color: initial;
    margin: initial;
}

pre > code {
    display: block;
    padding: 1em !important;
}

blockquote {
    border: thick hsl(0, 0%, 0%, 10%);
    border-left-style: solid;
    box-shadow: hsl(0, 0%, 0%, 10%) 1ex 1ex 2ex;
    font-family: serif;
    font-style: italic;
    margin: 2em 12% 3em;
    padding-left: 1em;
    padding-right: 1em;
}

blockquote > footer {
    font-style: initial;
    text-align: right;
}

blockquote > footer::before {
    content: "—\a0";
}

/* Insert commas between elements of the blockquote footer. */
blockquote > footer > *:not(:first-child)::before {
    content: ",\a0";
}

/*
 * Tables.
 */

table {
    border-collapse: collapse;
    margin-bottom: 2em;
    text-align: left;
    width: 100%;
}

th {
    background-color: hsl(0, 0%, 0%, 5%);
}

td,
th {
    border: thin solid hsl(0, 0%, 0%, 10%);
    padding: .6em;
}

td:empty::before,
th:empty::before {
    content: "\a0";
}

tr:nth-of-type(even) {
    background-color: hsl(0, 0%, 0%, 2%);
}

/* The default highlighter uses table layouts, so reset some styles. */
.highlight > table {
    margin: initial;
}

.highlight > table td {
    border: initial;
    padding: initial;
}

.highlight > table td.gutter {
    text-align: right;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.highlight > table td.code {
    width: 100%;
}

/*
 * Images.
 */

img {
    display: block;
    margin-left: -1em;
    margin-right: -1em;
    max-width: calc(100% + 2em);
}

/*
 * Forms.
 */

input {
    border: hsl(0, 0%, 0%, 20%) solid thin;
    font: inherit;
    width: 100%;
}

/*
 * Headers generally.
 */

header > p {
    font-style: italic;
    text-align: right;
}

header > ul {
    border-bottom: thin solid;
    border-color: hsl(0, 0%, 0%, 20%);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0;
}

header > ul > li {
    display: block;
    padding: 0 1em;
}

header > ul > li:not(:first-of-type) {
    border-left: thin solid;
    border-color: inherit;
}

/*
 * Page header.
 */

body > header > h1 {
    font-size: 4em;
    font-weight: lighter;
}

body > header a {
    color: inherit;
}

/*
 * Page footer.
 */

body > footer {
    font-size: smaller;
    margin-top: 4em;
    text-align: center;
}

/*
 * Title listings.
 */

ul.titles {
    padding: 0;
}

ul.titles > li {
    align-items: baseline;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 1em 0;
}

ul.titles > li > :first-child {
    font-size: smaller;
}

ul.titles > li > :last-child {
    margin: 0 auto 0 0;
    padding: 0 2em 0 0;
}

/*
 * Post footer.
 */

footer > ul {
    padding: 0;
}

footer > ul > li {
    display: inline;
    margin-right: .5em;
}

footer > nav {
    display: flex;
    justify-content: space-between;
}

footer > nav > * {
    display: flex;
}

footer > nav > :last-child {
    padding-left: 2em;
    text-align: right;
}

footer > nav > * > a {
    padding: 0 .5em;
}

/*
 * Archive, category and tag list count.
 */

.archive-list-count,
.category-list-count,
.tag-list-count
{
    font-size: smaller;
}

.archive-list-count::before,
.category-list-count::before,
.tag-list-count::before
{
    content: "\a0(";
}

.archive-list-count::after,
.category-list-count::after,
.tag-list-count::after
{
    content: ")";
}
