<ul class="titles">
{% for post in page.posts.toArray() %}
    <li>
    {{ partial("date", {value: post.date}) }}
    <p>{{ link_to(post.path, post.title) }}
{% endfor %}
</ul>

{% if (1 !== page.total) %}
    <footer>
        <nav>
            {% if not page.prev %}
                <span></span>
            {% endif %}
            {{ paginator({prev_text: "←", next_text: "→"}) }}
            {% if not page.next %}
                <span></span>
            {% endif %}
        </nav>
    </footer>
{% endif %}
